.about-container {
  margin: 0 10vw 0 10vw;
}

.about,
.form {
  text-align: left;
}

p.about {
  margin-bottom: 10vh;
}

input,
textarea {
  font-family: Avenir;
}

#contact-form {
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}

.email-input {
  font-size: 14px;
  height: 2vh;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  margin: 20px 20px 0 0px;
  padding: 8px;
}

.email-input:focus {
  border-bottom: 2px solid black;
}

.message-input {
  font-size: 14px;
  height: 20vh;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 20px 20px 0;
  padding: 8px 12px;
}

.message-input:focus {
  outline: none;
  border: 2px solid black;
}

.submit-button {
  font-size: 14px;
  font-family: Avenir;
  border: 1px solid black;
  border-radius: 10px;
  width: 8vw;
  align-self: flex-end;
  margin: 20px 20px 0 20px;
  background: white;
}

.submit-button:hover {
  border: 2px solid black;
  background-color: black;
  color: white;
}

@media (max-width: 600px) {
  #contact-form {
    min-width: 280px;
  }

  .submit-button {
    width: 60px;
  }
}

.submit-button:focus {
  outline: none;
}

li {
  width: 20%;
}
