.blog-container {
  display: flex;
  flex: wrap column;
  margin: 0 10vw 0 10vw;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 50vh;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 32px -6px rgba(0, 0, 0, 0.16);
  margin-bottom: 10vh;
}

.card-description {
  align-self: center;
}

.large-card {
  flex-grow: 1;
  margin-bottom: 5vh;
}

.large-card-title {
  text-align: left;
}
